<h1>Dogs!</h1>

<ul>
  <% @dogs.each do |dog|%>
    <li><a href="<%= dog_url(dog) %>"> <%=dog.name%></a></li>
  <% end %>
</ul>

<a href="<%= new_dog_url %>">Create dog</a> 
<br>
<a href="<%= new_dog_rental_request_url %>">Request a Rental</a>